
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(230, 184, 57);

}
.chef {
    width: 720px;
    height: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.links {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}